<template>
        <v-app>
        <pagina-titulo TituloDeLaPagina="Iniciar sesion" />
        <v-content>
            <v-toolbar flat>
                <v-toolbar-title>
                    <v-form v-model="frmNuevo" ref="frmNuevo">
                        <v-dialog v-model="dialogoNuevo" persistent max-width="500px">
                            <v-btn slot="activator" color="hacsys" class="white--text">Agregar</v-btn>
                            <v-card>
                                <v-card-title class="headline">Agregar nueva tarea</v-card-title>
                                <v-card-text>
                                    <v-container>
                                        <v-layout wrap>
                                            <v-flex xs12>
                                                <v-text-field prepend-icon="fas fa-font" v-model="txtTarea" 
                                                    :rules="[Reglas.requerido, Reglas.mayusculas]"
                                                    label="Indique la tarea" />
                                            </v-flex>
                                            <v-flex sx12>
                                                <v-switch v-model="chkCompletada" label="Tarea terminada" 
                                                          color="hacsys"
                                                          prepend-icon="fas fa-toggle-on" />
                                            </v-flex>
                                        </v-layout>
                                    </v-container>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer />
                                    <v-btn flat @click="dialogoNuevo = false" color="error">Cerrar</v-btn>
                                    <v-btn flat @click="GuardarTarea(txtTarea, chkCompletada)" 
                                           color="hacsys"
                                           :disabled="!frmNuevo"
                                           >Guardar tarea</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-form>
                </v-toolbar-title>
            </v-toolbar>

            <v-data-table :headers="cabeceras" :items="tareas" no-data-text="No hay info en BD">
                <template slot="items" slot-scope="props">
                    <td>{{props.item.tarea}}</td>
                    <td>{{props.item.completada}}</td>
                </template>
            </v-data-table>

        </v-content>
        <mi-alerta ref="alerta" />
        </v-app>
</template>

<script>
import {Reglas} from '../Helper/Reglas'
import axios from 'axios'
export default {
    created() {
        this.ObtenerTareas();
    }
    ,data() {
        return {
             frmNuevo: true
            ,dialogoNuevo: false
            ,txtTarea: ''
            ,chkCompletada: false
            ,Reglas
            ,tareas: []
            ,cabeceras: [{
                    text: 'Tarea',
                    value: ''
                }, {
                    text: 'Completada',
                    value: ''
            }]
        }
    }
    ,beforeCreate() {
        var token = localStorage.getItem("token");
        if (token == null || token == ''){
            this.$router.push({
                name: 'Login'
            });
        }
    }
    ,methods: {
        GuardarTarea(tarea, completada) {
            axios({
                headers: {
                    Autorization: `Bearer ${localStorage.getItem("token")}`
                }
                ,method: 'post'
                ,path: 'Todo/AddTarea'
                ,data: {
                     Tarea: tarea
                    ,Completada: completada
                }
            }).then(response => {
                this.$refs.alerta.Abrir('Agregar tarea', `RESPUESTA SERVER:${response.data}`, 'green')
                this.ObtenerTareas();
            }).catch(error => {
                if (error.response.status == 401) {
                    this.$refs.alerta.Abrir('Agregar tarea', `Sesion caducada. Iniciar nuevamente!`, 'error')
                    this.$router.push({
                        name: 'Login'
                    })
                } else
                    this.$refs.alerta.Abrir('Agregar tarea', `Error: ${error.response.data}`, 'error')
            }).finally(() => {

            })
        }
        ,ObtenerTareas() {
            axios({
                headers: {
                    Autorization: `Bearer ${localStorage.getItem("token")}`
                }
                ,method: 'get'
                ,url: 'Todo/GetTareas'
            }).then(resopnse => {
                this.tareas = response.data;
            }).catch(error => {
                this.$refs.alerta.Abrir('Carga tareas', `Error: ${error.response.data}`, 'error')
            })
        }
    }
}
</script>
