<template>
    <v-app>
        <pagina-titulo TituloDeLaPagina="Iniciar sesion" />
        <v-content>
            <v-container>
                <v-layout>
                    <v-flex xs12 sm8 md4>
                        <v-form v-model="esValido">
                            <v-card class="elevation-12">
                                <v-card-text>
                                    <v-text-field @keyup.enter="$refs.txtPwd.focus" prepend-icon="fas fa-user" color="hacsys" v-model="usuario" label="Nombre de Usuario" />
                                    <v-text-field type="password" ref="txtPwd" @keyup.enter="IniciarSesion(usuario, password)" prepend-icon="fas fa-lock" color="hacsys" v-model="password" label="Contraseña" />
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer />
                                    <v-btn flat @click="IniciarSesion(usuario, password)" :loading="iniciandoSesion">
                                        <v-icon>fas fa-key</v-icon>
                                        <span>Iniciar Sesion</span>
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-form>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
        <mi-alerta ref="alerta" />
    </v-app>

</template>

<script>
export default {
    data() {
        return {
            esValido: true
            ,usuario: ""
            ,password: ""
            ,iniciandoSesion: false
        }
    }
    ,created() {
        console.log(`${window.location.protocol}//${window.location.host}/api/`);
    }
    ,methods: {
        IniciarSesion(usuario, password) {
            if (usuario == '' || password == '')
            this.$refs.alerta.Abrir('Error en datos', `Usuario ${usuario} o la contraseña no puede ser en blanco`, 'error')
            if (this.iniciandoSesion) return;
            this.iniciandoSesion = true;

            axios({
                 method: 'post'
                ,url: 'Autenticacion/Token'
                ,data: {
                     Usuario: usuario
                    ,Password: password
                }
            }).then(response => {
                // Almacena el token en el navegador
                sessionStorage.setItem("token", response.data.token);
                // Almacena el token en local
                localStorage.setItem("token", response.data.token);
                this.$refs.alerta.Abrir('Acceso correcto', `Acceso consedido`, 'green')
                this.$router.push({
                    name: 'PaginaDeInicio'
                });
            }).catch(error => {
                this.$refs.alerta.Abrir('Error en acceso', `Error: ${error.response.data}`, 'error')
            }).finally(() => {
                this.iniciandoSesion = false;
            });
        }
    }
}
</script>
