<template>
    <!-- <div> -->
    <v-app>
        <button @click="ObtenerPerro()">Cargar nuevo Perro</button>
        <br />
        <label v-if="cargandoPerro">Obteniendo perro...</label>
        <img :src="url" v-if="url != '' && !url.endsWith('.mp4')"  class="centrado" />

        <video width="320" height="240" controls v-if="url != '' && url.endsWith('.mp4')"  class="centrado" > 
            <source :src="url" type="video/mp4"> 
        </video>

        <hr />


        <!-- <button @click="ObtenerActividades()" >Ver status actividades de un frances</button> -->
        <v-content>
        <v-container>
            <v-layout wrap>
                <v-flex xs6 column>
                    <v-btn @click="ObtenerActividades()" color="hacsys" class="white--text">Ver status actividades</v-btn>
                    <v-btn @click="ObtenerActividades()" color="hacsysNegro" class="white--text">Ver status actividades</v-btn>
                    <v-btn @click="ObtenerActividades()" color="blue" class="white--text">Ver status actividades</v-btn>
                </v-flex>
                <v-flex xs6 column>
                    <tabla titulo="Actividades o libros" :encabezados= "encabezados" :datos="registros">
                        <template slot="columna" slot-scope="props">
                            <td>{{props.item.userId}}</td>
                            <td>{{props.item.id}}</td>
                            <td>{{props.item.title}}</td>
                            <td><span v-if="props.item.completed">✔️</span><span v-else>❌</span></td>
                        </template>
                    </tabla>
                </v-flex>
            </v-layout>
        </v-container>
        </v-content>
        <!-- <table>
            <th>
                <td>ID Actividad</td>
                <td>Usuario</td>
                <td>Descripcion</td>
                <td>Realizada</td>
            </th>
            <tr v-for="(reg,i) in registros" :key="i">
                <td>{{reg.userId}}</td>
                <td>{{reg.id}}</td>
                <td>{{reg.title}}</td>
                <td><span v-if="reg.completed">✔️</span><span v-else>❌</span></td>
            </tr>
        </table> -->
        
        <!-- <tabla titulo="Actividades o libros" :encabezados= "encabezados" :datos="registros">
            <template slot="columna" slot-scope="props">
                <td>{{props.item.userId}}</td>
                <td>{{props.item.id}}</td>
                <td>{{props.item.title}}</td>
                <td><span v-if="props.item.completed">✔️</span><span v-else>❌</span></td>
            </template>
        </tabla> -->



        <br />

    <!-- </div> -->
    </v-app>
</template>

<script >
import tabla from '../MisComponentes/SlotTabla'
export default ({ 
    components:{
        tabla
    },
    data() {
        return {
            cargandoPerro: false
            ,url: ""
            ,encabezados : [{texto: 'ID Actividad'},{texto: 'Usuario'},{texto: 'Descripcion'},{texto: 'Realizada'}]
            ,registros : []
        }
    }
    ,created() {
        this.ObtenerPerro();
    }
    ,methods: {
        ObtenerPerro() {
            if (this.cargandoPerro) return;
            this.cargandoPerro = true;
            axios({
                method: 'get',
                url: 'https://random.dog/woof.json'
            })
            .then(respuesta => { 
                this.url = respuesta.data.url;
            })
            .catch(error => {
                console.log(error);
            })
            .finally(finalmente => {
                this.cargandoPerro = false;
            })
        }
        ,ObtenerActividades() {
            axios({
                method: 'get',
                url: 'https://jsonplaceholder.typicode.com/todos/'
            })
            .then(respuesta => { 
                this.registros = respuesta.data;
            })
            .catch(error => {
                console.log(error);
            })
            .finally(finalmente => {
                this.cargandoPerro = false;
            })
        }
    }
})
</script>

<style>
.centrado {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
</style>
