<template>
    <div id="MiCalculadora">
        <H1>Bienvenido a mi Sumadora</H1>
        <input v-model="primerNumero" placeholder="Numero 1" />
        <p v-if="validaPrimerNumero != ''">{{validaPrimerNumero}}</p>
        <input v-model="segundoNumero" placeholder="Numero 2" />
        <p>El resultado es: {{primerNumero}}+{{segundoNumero}} = {{suma}}</p>

        <button @click="IrATarea()">Ir a tareas </button>

    </div>
</template>

<script>
export default {
    data() {
        return {
            primerNumero : 0,
            validaPrimerNumero: "",
            segundoNumero: 0
        }
    },
    computed: {
        suma() {
            var suma = parseInt(this.primerNumero) + parseInt(this.segundoNumero);
            if (isNaN(suma)) { return "0x"; }
            else { return suma;}
        }
    },
    watch: {
        primerNumero() {
            if (isNaN(this.primerNumero))
                this.CambiarMensaje("No es numero");
            else 
                this.CambiarMensaje("");
        }
    },
    beforeCreate(){
        console.log("Antes de Cargar");
    },
    created(){
        console.log("Ya Cargado");
    },
    beforeMount(){
        console.log("Antes de Montar");
    },
    mounted(){
        console.log("Ya Montado");
    },
    beforeUpdate(){
        console.log("Antes de Actualizar");
    },
    updated(){
        console.log("Ya Actualizado");
    },
    beforeDestroy(){
        console.log("Antes de Destruir");
    },
    destroyed(){
        console.log("Ya Destruido");
    },

    methods: {
        CambiarMensaje(texto) {
                this.validaPrimerNumero = texto;
        },
      IrATarea() {
        this.$router.push ({
          name: "Tareas"
        })
      }
    }
}
</script>
