<template>
    <div id="inicio">
<hr /> Clasico HTML <hr />
        <h1> HOLA Mundo... </h1>


<hr /> <h1>Seccion HIJA</h1> <hr />
  <router-view />
<hr />


<hr /> <h1>Seccion API</h1> <hr />
    <router-link :to="{name: 'API'}">mi API</router-link>
<hr />



<hr /> Cargando valores (mustaches) <hr />
        <h2>{{hola}}</h2>
<hr /> Cargando info de variables <hr />
        <p title="Tooltip de un parrafo">Mi Parrafo</p>
        <p v-bind:title="hola">Tiulo con v-bind</p>
        <p :title="hola">Otra forma</p>
        <p title="Sale lo que escriba aqui">no jala asi, requiere los : para llamar el hola de data()</p>
<hr /> Cargando info condicional <hr />
        <p v-if="segunda">Me muestra esto si segunda es true</p>
        <p v-else>Me muestra esto si segunda es false</p>
        <p v-if="!segunda">Me muestra esto si segunda NO ES true</p>
        <p v-if="segunda != true">xMe muestra esto si segunda es false</p>
<hr /> Accion en boton <hr />
    <button @click="ActivaEstado()">Activar tooltips </button>
    <button @click="CambiarEstado()">Cambiar tooltips </button>
<hr /> Ciclos <hr />
    <ol>
      <li v-for="(rol, i) in roles" :key="i">{{rol.nivel}}
        <ul>
            <li v-for="(priv, j) in rol.privilegio" :key="j">{{priv.operacion}}</li>
        </ul>
      </li>
    </ol>
<hr /> INPUTs de info <hr />
    <p>{{mensaje}}</p>
    <input v-model="mensaje" placeholder="Escribe algo" />
<hr /> INPUTs que cambian valors a variables y se refleja en donde se muestre <hr />
    <!-- Donde presone ENTER manda a llamar la funcion tambien -->
    <input v-model="txtNivel" placeholder="Nuevo nivel" @keyup.enter="AgregarNivel(txtNivel)" />
    <button @click="AgregarNivel(txtNivel)">Agregar Nivel </button>
<hr /> Cargar el ejemplo de Ciclos, desde un componente nuestro <hr />
  <miComponenteLista v-for="(rol, i) in roles"  :key="i" :listaNivel="rol"/>
<hr /> Mostrar desde otro template (otro archivo) <hr />
    <router-link :to="{name: 'Tareas'}">Ir a tarea</router-link>
<hr /> Ir a Tarea <hr />
    <button @click="IrATarea()">Ir a tareas </button>
<hr /> Ir a Calculadora <hr />
    <router-link :to="{name: 'Calcu'}">Ir a calculadora</router-link>
<hr /> Ir a Slot sample <hr />
    <router-link :to="{name: 'Slot'}">Ir a Slot Sample</router-link>
<hr /> Ir a Slot Scope sample <hr />
    <router-link :to="{name: 'Tabla'}">Ir a Tabla (Slot Scope Sample)</router-link>
<hr /> Ir a Mi Lista Slot Scope test <hr />
    <router-link :to="{name: 'MiLista'}">Ir a Mi Lista (Slot Scope test)</router-link>
<hr /> Ir a Transicion <hr />
    <router-link :to="{name: 'Transicion'}">Ir a Transicion</router-link>
    






    </div>
</template>

<script>
  import miComponenteLista from '../MisComponentes/ListaNivel'
  export default {
    data() {
      return {
        hola: '{Hola mundo 2}',
        // para Cargando info condicional
        segunda: false,
        // Para Ciclos
        roles:[
          { nivel : 'Primero', 
            privilegio:[
              { operacion:1 }, 
              { operacion:2 }, 
              { operacion:3 }
          ]},
          { nivel : 'Segundo', 
            privilegio:[
              { operacion:1 }, 
              { operacion:5 }, 
              { operacion:6 }
          ]},
          { nivel : 'Tercero', 
            privilegio:[
              { operacion:4 }, 
              { operacion:5 }, 
              { operacion:7 }
          ]}
        ],
          //INPUTs de info
          mensaje: '',
          //INPUTs que cambian valors
          txtNivel:''
      }      
    },
    // para activar "Accion en boton"
    methods: {
      ActivaEstado() {
        this.segunda = !this.segunda;
      },
      CambiarEstado() {
        this.hola = "Mi nuevo Hola";
      },
      AgregarNivel(nivel) {
        if (nivel == '') return;
        this.roles.push ({
          nivel: nivel
        });
        this.txtNivel = '';
      },
      IrATarea() {
        this.$router.push ({
          name: "Task"
        })
      }
    }
    ,components: {
      miComponenteLista
    }
  }
</script>



