<template>
    <div>
        <!-- <pagina-titulo TituloDeLaPagina="Mi pagina de Lista hecha por mi" /> -->
        <pagina-titulo :TituloDeLaPagina="txtTituloPagina" />
        Titulo de la pagina: <input v-model="txtTituloPagina" type="text">
        <hr />
        <templateLista :titulo="tituloDinamico" :registros="listaDeCosas">

            <template slot="MiInformacionIcon" slot-scope="cosas">
                <span @click="cosas.itemActual.completado = !cosas.itemActual.completado">
                    <span v-if="cosas.itemActual.completado">✔️</span><span v-else>❌</span>
                </span>
            </template>
            <template slot="MiInformacionData" slot-scope="cosas">
                <span @click="cosas.otroItem.completado = !cosas.otroItem.completado">
                        {{cosas.otroItem.texto}}
                </span>
            </template>
        </templateLista>
    </div>
</template>


<script>
import templateLista from '../MisComponentes/MiListaScope'
export default {
    components:{
        templateLista
    },
    data(){
        return{
            txtTituloPagina: '',
            tituloDinamico: 'Mi Scope con titulo Dinamico',
            listaDeCosas:[
                {
                    texto: 'Cosa 1',
                    completado: true
                },
                {
                texto: 'Cosa 2',
                completado: false
                },
                {
                texto: 'Cosa 3',
                completado: true
                },
                {
                texto: 'Cosa 4',
                completado: false
                }
            ]
        }
    }
}
</script>

<style>

</style>

