<template>
    <div>
        <input v-model="texto" />
        <slotTest :texto="texto">
            <template slot="dos">
                <p>Template dos</p>
            </template>
            <template slot="uno">
                <p>Template uno</p>
            </template>
        </slotTest>
    </div>
</template>

<script>
import slotTest from '../MisComponentes/ListaSlot'
export default {
    components: {
        slotTest
    },
    data(){
        return {
            texto: ''
        }
    }
}
</script>
