<template>
    <div>
        <input v-model="texto" type="text">
        <slotTabla titulo="Hacsys" :encabezados= "encabezados" :datos="tareas">
            <template slot="columna" slot-scope="props">
                <td>{{props.item.texto}}</td>
                <td v-if="props.item.completado">✔️</td>
                <td v-else>❌</td>
                <td> 
                    <button @click="props.item.completado = !props.item.completado">Cambiar</button>
                </td>
            </template>
            <template slot="footer">
                <td colspan="100%">
                    <label>Pie de pagina</label>
                </td>
            </template>
        </slotTabla>
    </div>
</template>


<script>
import slotTabla from '../MisComponentes/SlotTabla'
export default {
    components:{
        //slotText,
        slotTabla
    },
    data(){
        return{
            texto: '',
            encabezados:[{
                texto: 'Tarea',
            },{
                texto: 'Completado'
            },{
                texto: 'Opciones'
            }
            ],
            tareas:[
                {
                texto: 'Tarea uno',
                completado: true
                },
                {
                texto: 'Tarea dos',
                completado: false
                },
                {
                texto: 'Tarea tres',
                completado: true
                },
                {
                texto: 'Tarea cuatro',
                completado: false
                }
            ]
        }
    }
}
</script>

<style>

</style>

