<template>
    <div>
        <button @click="mostrar = !mostrar">Cambiar</button>
        <transition name="miClaseCSS">
            <div v-if="mostrar">
                <p>Hola vue!!!</p>
                <p>:)</p>
            </div>
        </transition>
        <transition name="miClaseCSS2">
            <p v-if="mostrar">Otro Hola!!!</p>
        </transition>
    </div>
</template>

<script>
export default {
    data() {
        return {
            mostrar: true
        }
    }
}
</script>

<style>
.miClaseCSS-enter-active, .miClaseCSS-leave-active {
    transition: opacity 1s;
}

.miClaseCSS-enter, .miClaseCSS-leave-to {
    opacity: 0;
}
.miClaseCSS2-enter-active, .miClaseCSS2-leave-active {
    transition: opacity 5s;
}

.miClaseCSS2-enter, .miClaseCSS2-leave-to {
    opacity: 0;
}
</style>
