<template>
    <div>
        <slot name="uno"></slot>
        <p>{{texto}}</p>
        <slot name="dos"></slot>
    </div>
</template>

<script>
export default {
    name: "lista-slot",
    props: ['texto']
}
</script>
