<template>
      <li>{{listaNivel.nivel}}
        <ul>
            <li v-for="(priv, j) in listaNivel.privilegio" :key="j">{{priv.operacion}}</li>
        </ul>
      </li>
</template>

<script>
export default {
    // Nombre
    name: "miComponente-lista",
    // Parametros
    props: ['listaNivel']
}
</script>

