<template>
    <div>
        <caption>*{{titulo}}*</caption>
        <ol>
            <li v-for="(registro,indice) in registros" :key="indice">
                <slot name="MiInformacionIcon" :itemActual="registro"></slot>
                <slot name="MiInformacionData" :otroItem="registro"></slot>
            </li>
        </ol>
    </div>
</template>


<script>
export default {
    name: 'Datos',
    props:['titulo','registros']
}
</script>

<style>
table,th,td{
    border: 1px solid brown
}
</style>
