<template>
    <v-app>
        <v-dialog v-model="dialogo">
            <v-card :color="color">
            <v-card-title>{{titulo}}</v-card-title>
            <v-card-text>
                <v-container>
                    <label class="display-2 white--text">{{mensaje}}</label>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer />
                <v-btn flat @click="dialogo=false" color="white">Cerrar</v-btn>
            </v-card-actions>
            </v-card>
        </v-dialog>
    </v-app>    
</template>

<script>
export default {
    data() {
        return {
             dialogo: false
            ,color: "hacsys"
            ,titulo: ""
            ,mensaje: ""
            ,timer: -1
        }
    }
    ,watch: {
        dialogo() {
            this.Timer()
        }
    }
    ,methods: {
        Timer() {
            clearTimeout(this.timer);
            if (this.dialogo){
                this.timer = setTimeout(() => {
                    this.dialogo = false;
                }, 6000);
            }
        }
        , Abrir(titulo, mensaje, color) {
            this.mensaje = mensaje == '' ? 'Alerta!' : mensaje;
            this.titulo = titulo == '' ? 'Alerta!' :  titulo;
            this.color = color == '' ? 'error' : color;
            this.dialogo = true;
        }
    }
}
</script>

<style>

</style>
