<template>
    <table>
        <caption>{{titulo}}</caption>
        <thead>
            <tr>
                <th v-for="(encabezado,uno) in encabezados" :key="uno">
                    {{encabezado.texto}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(dato,uno) in datos" :key = "uno">
                <slot name="columna" :item="dato"></slot>
            </tr>
        </tbody>
        <tfoot>
            <slot name="footer"></slot>
        </tfoot>
    </table>
</template>


<script>
export default {
    name: 'Table',
    props:['titulo','encabezados','datos']
}
</script>

<style>
table,th,td{
    border: 1px solid brown
}
</style>
